.qodo
.vscode
node_modules/

# LaTeX intermediate files
latex/*.aux
latex/*.log
latex/*.out
latex/*.toc
latex/*.lof
latex/*.lot
latex/*.fls
latex/*.fdb_latexmk
latex/*.synctex.gz
latex/*.bbl
latex/*.blg
latex/*.bcf
latex/*.run.xml
latex/*.nav
latex/*.snm
latex/*.vrb
latex/_minted*/
